openapi: 3.0.3
info:
  title: BiteX Food Delivery API
  description: |
    Comprehensive RESTful API for the BiteX food delivery application.
    This API provides endpoints for user management, restaurant operations,
    order processing, payment handling, and more.
  version: 1.0.0
  contact:
    name: BiteX API Support
    email: api-support@bitex.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.bitex.com/api/v1
    description: Production server
  - url: https://staging-api.bitex.com/api/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  # Authentication Endpoints
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register a new user
      description: Create a new user account with email verification
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and return access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Logout user and invalidate token
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /auth/refresh-token:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Get a new access token using refresh token
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string

  # User Management
  /users/profile:
    get:
      tags:
        - User Management
      summary: Get user profile
      description: Retrieve current user's profile information
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
    put:
      tags:
        - User Management
      summary: Update user profile
      description: Update current user's profile information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'

  # Restaurant Management
  /restaurants:
    get:
      tags:
        - Restaurants
      summary: Get restaurants list
      description: Retrieve list of restaurants with filtering and pagination
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: category
          in: query
          schema:
            type: string
        - name: latitude
          in: query
          schema:
            type: number
        - name: longitude
          in: query
          schema:
            type: number
        - name: radius
          in: query
          schema:
            type: number
            default: 10
        - name: search
          in: query
          schema:
            type: string
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [rating, deliveryTime, distance]
            default: rating
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Restaurants retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          restaurants:
                            type: array
                            items:
                              $ref: '#/components/schemas/Restaurant'
                          pagination:
                            $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - Restaurants
      summary: Create restaurant
      description: Create a new restaurant (Chef/Admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRestaurantRequest'
      responses:
        '201':
          description: Restaurant created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Restaurant'

  /restaurants/{restaurantId}:
    get:
      tags:
        - Restaurants
      summary: Get restaurant details
      description: Retrieve detailed restaurant information including menu
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Restaurant details retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RestaurantWithMenu'

  # Menu Management
  /restaurants/{restaurantId}/menu:
    get:
      tags:
        - Menu
      summary: Get restaurant menu
      description: Retrieve menu items for a specific restaurant
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: isFeatured
          in: query
          schema:
            type: boolean
        - name: isAvailable
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Menu retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          menuItems:
                            type: array
                            items:
                              $ref: '#/components/schemas/MenuItem'
                          categories:
                            type: array
                            items:
                              type: string

    post:
      tags:
        - Menu
      summary: Add menu item
      description: Add a new menu item to restaurant (Chef only)
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMenuItemRequest'
      responses:
        '201':
          description: Menu item created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MenuItem'

  # Order Management
  /orders:
    get:
      tags:
        - Orders
      summary: Get user orders
      description: Retrieve user's order history with pagination
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
      responses:
        '200':
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          orders:
                            type: array
                            items:
                              $ref: '#/components/schemas/Order'
                          pagination:
                            $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - Orders
      summary: Create order
      description: Create a new order from cart items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          orderId:
                            type: string
                          orderNumber:
                            type: string
                          status:
                            $ref: '#/components/schemas/OrderStatus'
                          totalPrice:
                            type: number
                          estimatedDeliveryTime:
                            type: string
                            format: date-time
                          paymentStatus:
                            type: string

  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get order details
      description: Retrieve detailed information about a specific order
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'

  # Cart Management
  /cart:
    get:
      tags:
        - Cart
      summary: Get cart contents
      description: Retrieve current user's cart items
      responses:
        '200':
          description: Cart retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Cart'

    delete:
      tags:
        - Cart
      summary: Clear cart
      description: Remove all items from cart
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /cart/items:
    post:
      tags:
        - Cart
      summary: Add item to cart
      description: Add a menu item to the cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToCartRequest'
      responses:
        '201':
          description: Item added to cart successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CartItem'

  # Payment Methods
  /payment-methods:
    get:
      tags:
        - Payment
      summary: Get payment methods
      description: Retrieve user's saved payment methods
      responses:
        '200':
          description: Payment methods retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          paymentMethods:
                            type: array
                            items:
                              $ref: '#/components/schemas/PaymentMethod'

    post:
      tags:
        - Payment
      summary: Add payment method
      description: Add a new payment method for the user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
      responses:
        '201':
          description: Payment method added successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentMethod'

  # Reviews
  /restaurants/{restaurantId}/reviews:
    get:
      tags:
        - Reviews
      summary: Get restaurant reviews
      description: Retrieve reviews for a specific restaurant
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: rating
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5
      responses:
        '200':
          description: Reviews retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          reviews:
                            type: array
                            items:
                              $ref: '#/components/schemas/Review'
                          averageRating:
                            type: number
                          totalReviews:
                            type: integer
                          ratingDistribution:
                            type: object
                            properties:
                              '5':
                                type: integer
                              '4':
                                type: integer
                              '3':
                                type: integer
                              '2':
                                type: integer
                              '1':
                                type: integer
                          pagination:
                            $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - Reviews
      summary: Add restaurant review
      description: Add a review for a restaurant
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '201':
          description: Review added successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Review'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Base Response Schemas
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
      required:
        - success

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
        timestamp:
          type: string
          format: date-time
        path:
          type: string
      required:
        - success
        - error

    Pagination:
      type: object
      properties:
        currentPage:
          type: integer
        totalPages:
          type: integer
        totalItems:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    # Authentication Schemas
    RegisterRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 128
        phoneNumber:
          type: string
        userType:
          type: string
          enum: [customer, chef, admin]
      required:
        - name
        - email
        - password
        - userType

    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required:
        - email
        - password

    AuthResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/User'
            token:
              type: string

    # User Schemas
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        phoneNumber:
          type: string
        address:
          type: array
          items:
            type: string
        profileImageUrl:
          type: string
        userType:
          type: string
          enum: [customer, chef, admin]
        emailVerified:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        phoneNumber:
          type: string
        address:
          type: array
          items:
            type: string
        profileImageUrl:
          type: string

    # Restaurant Schemas
    Restaurant:
      type: object
      properties:
        id:
          type: string
        restaurantName:
          type: string
        restaurantImage:
          type: string
        rating:
          type: number
        deliveryTime:
          type: string
        isFreeDelivery:
          type: boolean
        restaurantCategories:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        address:
          type: string
        phoneNumber:
          type: string
        distance:
          type: number

    RestaurantWithMenu:
      allOf:
        - $ref: '#/components/schemas/Restaurant'
        - type: object
          properties:
            foodList:
              type: array
              items:
                $ref: '#/components/schemas/Food'

    CreateRestaurantRequest:
      type: object
      properties:
        restaurantName:
          type: string
        restaurantImage:
          type: string
        restaurantCategories:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        address:
          type: string
        phoneNumber:
          type: string
      required:
        - restaurantName
        - restaurantImage
        - restaurantCategories

    # Food/Menu Schemas
    Food:
      type: object
      properties:
        id:
          type: string
        foodTitle:
          type: string
        foodImage:
          type: string
        price:
          type: number
        description:
          type: string
        ingredients:
          type: array
          items:
            type: string
        isVegetarian:
          type: boolean
        isVegan:
          type: boolean
        isGlutenFree:
          type: boolean
        preparationTime:
          type: integer

    MenuItem:
      allOf:
        - $ref: '#/components/schemas/Food'
        - type: object
          properties:
            category:
              type: string
            isAvailable:
              type: boolean
            isFeatured:
              type: boolean
            allergens:
              type: array
              items:
                type: string
            nutritionalInfo:
              type: object
            tags:
              type: array
              items:
                type: string
            customizationOptions:
              type: object
            discountPercentage:
              type: number
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    CreateMenuItemRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
          minimum: 0
        category:
          type: string
        imageUrl:
          type: string
        isAvailable:
          type: boolean
          default: true
        isFeatured:
          type: boolean
          default: false
        allergens:
          type: array
          items:
            type: string
        nutritionalInfo:
          type: object
        tags:
          type: array
          items:
            type: string
        customizationOptions:
          type: object
        discountPercentage:
          type: number
          minimum: 0
          maximum: 100
        preparationTime:
          type: integer
          default: 15
      required:
        - name
        - price
        - category

    # Order Schemas
    OrderStatus:
      type: string
      enum: [pending, preparing, ready, completed, cancelled]

    Order:
      type: object
      properties:
        id:
          type: string
        orderNumber:
          type: string
        restaurant:
          $ref: '#/components/schemas/Restaurant'
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        totalPrice:
          type: number
        deliveryAddress:
          type: string
        customerName:
          type: string
        customerPhone:
          type: string
        orderTime:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/OrderStatus'
        notes:
          type: string
        paymentStatus:
          type: string

    CreateOrderRequest:
      type: object
      properties:
        restaurantId:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              foodId:
                type: string
              quantity:
                type: integer
                minimum: 1
              notes:
                type: string
            required:
              - foodId
              - quantity
        deliveryAddress:
          type: string
        customerName:
          type: string
        customerPhone:
          type: string
        paymentMethodId:
          type: string
        notes:
          type: string
      required:
        - restaurantId
        - items
        - deliveryAddress
        - customerName
        - customerPhone
        - paymentMethodId

    # Cart Schemas
    CartItem:
      type: object
      properties:
        id:
          type: string
        food:
          $ref: '#/components/schemas/Food'
        quantity:
          type: integer
        notes:
          type: string
        isPrepared:
          type: boolean
        subtotal:
          type: number

    Cart:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        totalItems:
          type: integer
        totalPrice:
          type: number
        restaurantId:
          type: string

    AddToCartRequest:
      type: object
      properties:
        foodId:
          type: string
        quantity:
          type: integer
          minimum: 1
        notes:
          type: string
      required:
        - foodId
        - quantity

    # Payment Schemas
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [creditCard, debitCard, paypal, applePay, googlePay, cashOnDelivery, mtnMobileMoney, vodafoneCash, airtelTigoMoney, mobileMoney, paystack]
        title:
          type: string
        lastFourDigits:
          type: string
        cardHolderName:
          type: string
        expiryDate:
          type: string
        brand:
          type: string
        isDefault:
          type: boolean
        createdAt:
          type: string
          format: date-time

    CreatePaymentMethodRequest:
      type: object
      properties:
        type:
          type: string
          enum: [creditCard, debitCard, paypal, applePay, googlePay, cashOnDelivery, mtnMobileMoney, vodafoneCash, airtelTigoMoney, mobileMoney, paystack]
        title:
          type: string
        cardNumber:
          type: string
        expiryDate:
          type: string
          pattern: '^(0[1-9]|1[0-2])\/[0-9]{2}$'
        cvv:
          type: string
        cardHolderName:
          type: string
        isDefault:
          type: boolean
          default: false
        billingAddressId:
          type: string
      required:
        - type
        - title

    # Review Schemas
    Review:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        userName:
          type: string
        restaurantId:
          type: string
        foodId:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        createdAt:
          type: string
          format: date-time
        images:
          type: array
          items:
            type: string

    CreateReviewRequest:
      type: object
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
          minLength: 10
          maxLength: 500
        foodId:
          type: string
        images:
          type: array
          items:
            type: string
          maxItems: 5
      required:
        - rating
        - comment

  responses:
    Success:
      description: Operation successful
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuccessResponse'

    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Conflict:
      description: Conflict - resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        default: 1

    LimitParam:
      name: limit
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    RestaurantIdParam:
      name: restaurantId
      in: path
      description: Restaurant identifier
      required: true
      schema:
        type: string

    OrderIdParam:
      name: orderId
      in: path
      description: Order identifier
      required: true
      schema:
        type: string

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: User Management
    description: User profile and account management
  - name: Restaurants
    description: Restaurant information and management
  - name: Menu
    description: Menu items and categories
  - name: Orders
    description: Order creation and management
  - name: Cart
    description: Shopping cart operations
  - name: Payment
    description: Payment methods and transactions
  - name: Reviews
    description: Restaurant and food reviews
  - name: Search
    description: Search functionality
  - name: Analytics
    description: Analytics and reporting (Chef/Admin)

externalDocs:
  description: Find out more about BiteX API
  url: https://docs.bitex.com